body {
	 background-color: blue;
}
.about-me {
	text-align:center;
	background-image: url(animelogos2.png); 
	background-size: 400px;
}

div{
	border-style: solid;
	border-width: 5px;
	border-color: green;

	
}
.container{
	
}

.row{
	border-color: red;
}

.col-xs-7{
	
}
 
	
	




	



	



	
